.toolbar-header {
  justify-content: space-between;
  font-size: 1em;
  font-weight: 300;
  background: var(--blackish);
}

.logo {
  font-size: 1.5em;
}

.toolbar-options {
  display: flex;
  justify-content: space-between;
  width: 175px;
}

section.main-container {
  width: 100%;
  height: 500px;
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.welcome-message {
  position: relative;
  width: 100%;
  min-height: 400px;
  text-align: center;
}

.text-extralarge {
  position: absolute;
  font-size: 2.5rem;
  line-height: 2rem;
  font-weight: 100;
  width: 100%;
  color: var(--white);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-search {
  position: absolute;
  width: 50%;
  color: var(--white);
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

mat-form-field.main-search {
  font-size: 1rem;
}

.action-container {
  width: 100vw;
  background: goldenrod;
  padding: 1.5rem;
  text-align: center;
  color: var(--white);
}

.action {
  border: 1px solid var(--white);
  margin: 0 10px;
}

.image {
  height: 260px;
  object-fit: cover;
  grid-area: promo-image;
}

.card-group-container {
  width: 100vw;
  background: var(--smokey);
}

.promo-message p:first-child,
.collections-message p:first-child {
  text-align: center;
  text-transform: uppercase;
  padding: 1.5rem;
  letter-spacing: 0.0625rem;
  font-size: 0.875rem;
  font-weight: bold;
}

.promo-message p:last-child,
.collections-message p:last-child {
  text-align: center;
  color: var(--grayish);
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0 35%;
}

hr {
  margin: 2% 42%;
  color: var(--grayish);
}

.mat-card {
  color: var(--blackish);
  background: var(--smokey);
}

.card-header {
  padding-bottom: 0.5rem;
}

.card-group {
  display: grid;
  grid-template-columns: repeat(3, minmax(130px, 1fr));
  grid-gap: 1.5rem;
  padding: 2rem;
  grid-auto-flow: dense;
  align-items: center;
  border-radius: 3px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.card-header {
  font-weight: bold;
}

.message-area {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.combo-message-heading {
  text-transform: capitalize;
  padding: 1rem;
  font-size: 2rem;
}

.combo-1,
.combo-2,
.combo-3 {
  display: grid;
  grid-template-areas: 'promo-image promo-text-area';
  padding: 4em 0;
}

.combo-2 > img {
  grid-column: 7/13;
  grid-row: 1/2;
}

img {
  object-fit: contain;
  height: 450px;
}

/* Change img to div */
/* .combo-img {
  object-fit: contain;
  background: url(/assets/images/ara-640x426.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 450px;
  grid-column: 7/13;
  grid-row: 1/2;
} */

.combo-message {
  margin: 0 5rem;
}
