<nav>
  <mat-toolbar
    class="toolbar-header"
    color="primary"
    role="heading"
    aria-label="heading"
  >
    <div class="toolbar-options">
      <span>Photos</span>
      <span>Illustrations</span>
      <span>Video</span>
    </div>
    <div>
      <span class="logo">Rich 📷 Stock</span>
    </div>
    <div class="toolbar-options">
      <span>Pricing</span>
      <span>Sign in</span>
      <span>Join</span>
    </div>
  </mat-toolbar>
</nav>
<section class="main-container">
  <div class="welcome-message">
    <p class="text-extralarge">
      Find the perfect stock asset for your next creative project
    </p>
    <div class="main-search">
      <mat-form-field appearance="outline" style="display: block">
        <mat-label>Search</mat-label>
        <input
          matInput
          placeholder="Find the perfect stock photos, illustrations and more…"
        />
        <mat-icon matSuffix>camera</mat-icon>
      </mat-form-field>
    </div>
  </div>
</section>
<section class="action-container">
  <div class="action-message">
    <span>Get 10 free Rich Stock images.</span>
    <button mat-stroked-button color="primary" class="action">Start now</button>
  </div>
</section>
<section class="card-group-container">
  <div class="collections-message">
    <p>
      curated asset collections
    </p>
    <p>
      Explore diverse collections of our most incredible high-resolution,
      royalty-free, stock assets
    </p>
  </div>
  <hr />
  <section class="card-group">
    <mat-card class="example-card">
      <img
        class="image"
        mat-card-image
        src="assets/fox-640x425.jpg"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <p class="card-header">Photos</p>
        <p>
          Discover beautiful and inspiring stock images with new content
          uploaded daily.
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
      <img
        class="image"
        mat-card-image
        src="assets/flowers-640x489.png"
        alt="Vector graphic of a sea turtle"
      />
      <mat-card-content>
        <p class="card-header">Vector graphics</p>
        <p>
          Unearth thousands of high-quality artist-designed vectors.
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
      <img
        class="image"
        mat-card-image
        src="assets/bible-letters-640x525.png"
        alt="Illustration of bible letters"
      />
      <mat-card-content>
        <p class="card-header">Illustrations</p>
        <p>
          Search our expanding range of hand-drawn and digital illustrations.
        </p>
      </mat-card-content>
    </mat-card>
  </section>
</section>
<section class="demonstration-container">
  <div class="promo-message">
    <p>
      create work faster
    </p>
    <p>
      Find the perfect high-res, royalty-free, stock image to enhance your next
      creative project.
    </p>
  </div>
  <hr />
  <section class="combo photo-text">
    <div class="combo-1">
      <img src="assets/images/cat-640x426.jpg" alt="Photo of a.." />
      <div class="message-area">
        <p class="combo-message-heading">
          Sprint from Zero to Hero
        </p>
        <p class="combo-message">
          Spend less time searching for the perfect stock photo. With millions
          of authentic stock images to choose from, the right picture is just a
          click away.
        </p>
      </div>
    </div>
    <div class="combo-2">
      <img src="assets/images/ara-640x426.jpg" alt="Photo of a.." />
      <div class="message-area">
        <p class="combo-message-heading">Fast and Consistent</p>
        <p class="combo-message">
          When you need top-quality, authentic stock imagery for your next
          project, looks great across all browsers.
        </p>
      </div>
    </div>
    <div class="combo-3">
      <img src="/assets/images/peacock-3805911_1920.jpg" alt="Photo of a.." />
      <div class="message-area">
        <p class="combo-message-heading">Versatile</p>
        <p class="combo-message">
          Themable, for when you need to stay on brand or just have a favorite
          color. Accessible and internationalized so that all users are welcome.
        </p>
      </div>
    </div>
  </section>
</section>
